<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mongo DB</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="container">
    <header class="section">
        <h1>Mongo DB</h1>
        <h2>Add Customer</h2>
    </header>
    <main class="section">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
<!--                <th>Customers</th>-->
                <th>id</th>
                <th>firstname</th>
                <th>lastname</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.firstname}"></td>
                <td th:text="${customer.lastname}"></td>

            </tr>
            </tbody>

        </table>
        <form th:action="@{/add-customer}" th:object="${customer}"method="post">
            <label for="firstname">firstname</label>
            <input type="text" th:field="*{firstname}" id="firstname"placeholder="firstname">
            <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
            <label for="lastname">lastname</label>
            <input type="text" th:field="*{lastname}" id="lastname"placeholder="lastname">
            <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
            <input type="submit" value="Add Customer">
        </form>

        <a href="/add-customer">add Customer</a></br>
        <a href="/projections">projections</a>
    </main>
</body>
</html>
