<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mongo DB</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="container">
    <header class="section">
        <h1>Mongo DB</h1>
        <h1>Aggregations</h1>
    </header>
    <main class="section">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
<!--                <th>Customers</th>-->
                <th>id</th>
                <th>firstname</th>
                <th>lastname</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.firstname}"></td>
                <td th:text="${customer.lastname}"></td>

            </tr>

            <tr>
                <td colspan="1">
                    <ul class="list-group">
                        <li th:each="customer : ${customers}"
                            class="list-group-item"><input type="radio" value="yeah"
                                                           /><!--th:field="*{id}" th:value="${id}"-->
                            <label
                                    th:for="${fisrtname}"
                                    th:text="${firstname}">250 mm</label></li>
                    </ul>
                </td>

            </tr>
            </tbody>
        </table>
        <a href="/">home</a>
    </main>
</body>
</html>
