<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mongo DB</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="content">
<header class="section">
    <h1>Mongo DB - References</h1>
    <h2>Home-Person and Pets</h2>
</header>
<main class="section">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
        <tr>
            <!--                <th>Customers</th>-->
            <th>id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>pets</th>
            <th>update</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
            <!--                <td th:text="${customer.get('id')}"></td>-->
            <!--                <td th:text="${customer.get('firstname')}"></td>-->
            <!--                <td th:text="${customer.get('lastname')}"></td>-->
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.firstname}"></td>
            <td th:text="${customer.lastname}">

            </td>
            <td th:text="${customer.pets}">

                <ol th:each="pet : ${customer.pets}">
                    <li th:text="${pet.name}">hello</li>
                </ol>


            </td>
            <td><a th:href="@{/edit/{id}(id=${customer.id})}">update</a></td>
            <td><a th:href="@{/delete/{id}(id=${customer.id})}">delete</a></td>
        </tr>

        </tbody>

    </table>

    <ol th:each="customer : ${customers}">
<!--        <li th:text="${customer.getPets}"></li>-->


    </ol>

    <a href="/add-customer">add Customer</a></br>
    <a href="/projections">projections</a>
    <a href="/aggregations">aggregations</a>
</main>
</body>
</html>
