<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mongo DB</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="container">
    <header class="section">
        <h1>Mongo DB</h1>
        <h1>Projections</h1>
    </header>
    <main class="section">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
<!--                <th>Customers</th>-->
                <th>id</th>
                <th>firstname</th>
                <th>lastname</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.firstname}"></td>
                <td th:text="${customer.lastname}"></td>

            </tr>
            </tbody>
        </table>
        <a href="/">home</a>
    </main>
</body>
</html>
